streamlit
langchain-core
langchain-community==0.0.20
langchain
langchain-groq
chromadb
pypdf
python-dotenv
sentence-transformters
langsmith
faiss-cpu
html2text
PyMuPDF
pytesseract
Pillow
python-docx
streamlit-quill
streamlit-quill
openpyxl



