
streamlit
langchain
langchain-groq
chromadb
pypdf
python-dotenv
sentence-transformers
langsmith
tiktoken
langchain-community
streamlit
python-dotenv
# PyPDF2
PyMuPDF
pytesseract # <-- ADD THIS LINE
Pillow 
python-docx
streamlit-quill
langchain
langchain-huggingface
langchain-core
langchain-groq 
sentence-transformers  # For creating embeddings
faiss-cpu              # For the local vector database
html2text  
markdown
fpdf2
openpyxl